force-app/main/default/flows/FilterContacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddToOuptutCollection</name>
        <label>AddToOuptutCollection</label>
        <locationX>111</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>FilteredAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SomeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FilterRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RecordOk</name>
        <label>RecordOk</label>
        <locationX>244</locationX>
        <locationY>266</locationY>
        <defaultConnector>
            <targetReference>FilterRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SomeRecord.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>a</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToOuptutCollection</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <interviewLabel>FilterContacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FilterContacts</label>
    <loops>
        <name>FilterRecords</name>
        <label>FilterRecords</label>
        <locationX>140</locationX>
        <locationY>150</locationY>
        <assignNextValueToReference>SomeRecord</assignNextValueToReference>
        <collectionReference>SomeRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecordOk</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>FilterRecords</startElementReference>
    <status>Draft</status>
    <variables>
        <name>FilteredAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SomeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SomeRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>targetobject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </variables>
</Flow>
