force-app/main/default/flows/Team_America_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendMail</name>
        <label>Send Email</label>
        <locationX>223</locationX>
        <locationY>545</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hey dood! You&#39;ve got mail.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>TEsting</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddToEmailList</name>
        <label>Add To Email List</label>
        <locationX>510</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TAUser.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverUserList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToUserList</name>
        <label>Add To User List</label>
        <locationX>449</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>TAUserList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TAUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverGroupMembers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Out_of_Office</name>
        <label>Is Not Out of Office</label>
        <locationX>511</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>LoopOverUserList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsOutOfOffice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TAUser.OutOfOfficeMessage</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToEmailList</targetReference>
            </connector>
            <label>IsOutOfOffice</label>
        </rules>
    </decisions>
    <interviewLabel>Team America Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Team America Email</label>
    <loops>
        <name>LoopOverGroupMembers</name>
        <label>Loop Over Members</label>
        <locationX>217</locationX>
        <locationY>271</locationY>
        <assignNextValueToReference>TAGroupMember</assignNextValueToReference>
        <collectionReference>TAGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LookupUser</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopOverUserList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverUserList</name>
        <label>Loop Over User List</label>
        <locationX>223</locationX>
        <locationY>426</locationY>
        <assignNextValueToReference>TAUser</assignNextValueToReference>
        <collectionReference>TAUserList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Out_of_Office</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendMail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughTAGroups</name>
        <label>Loop Over Groups</label>
        <locationX>213</locationX>
        <locationY>32</locationY>
        <assignNextValueToReference>TAGroup</assignNextValueToReference>
        <collectionReference>TAGroups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FindTAGroupMembers</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindTAGroupMembers</name>
        <label>Find Group Members</label>
        <locationX>214</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverGroupMembers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LoopThroughTAGroups</targetReference>
        </faultConnector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TAGroup.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>TAGroupMembers</outputReference>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindTeamAmericaGroup</name>
        <label>Find Team America Group</label>
        <locationX>50</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughTAGroups</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Team America</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>TAGroups</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupUser</name>
        <label>Find Member User</label>
        <locationX>447</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddToUserList</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TAGroupMember.UserOrGroupId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>TAUser</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>OutOfOfficeMessage</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <startElementReference>FindTeamAmericaGroup</startElementReference>
    <status>Draft</status>
    <variables>
        <name>EmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TAGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>TAGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>TAGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>TAGroups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <description>dd</description>
        <name>TAUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>TAUserList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
